{% extends 'base.html' %}


{% block content %}

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5517.629720202404!2d30.473963850391517!3d50.48527680114998!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1732303237042!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



<iframe width="560" height="315" src="https://www.youtube.com/embed/SlC8941Wwrk?si=zLpPNiS1Ave5O02Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endblock %}
